<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net debug="true">
    <appender name="CardServicesLog" type="log4net.Appender.RollingFileAppender">
      <file value="F:\AppLogs\CardServicesLog\"/>
      <staticLogFileName value="false"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyyMMdd.'Err'"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n"/>
      </layout>
    </appender>
    <logger name="CardServicesLog">
      <maximumFilesize value="100MB"/>
      <appender-ref ref="CardServicesLog"/>
    </logger>
  </log4net>
  <appSettings>
	<add key="SQLDB6" value="Server=###.###.##.##;database=SterlingPOST24;Persist Security Info=True;User ID=o#####r;password=T3m*****;Connection Timeout=60000"/>
    <add key="OfficeConn" value="data source=###.###.##.##;initial catalog=postilion_office;persist security info=True;User ID=rep#####er;Password=R*****1;Connection Timeout=1800"/>
    <add key="PostCard" value="Server=###.###.##.##;database=postcard;Persist Security Info=True;User ID=ca#####r;password=C*****1"/>
    <add key="Realtime" value="Server=###.###.##.##;database=realtime;Persist Security Info=True;User ID=t####r;Password=T*****1"/>
    <add key="OfiConfig" value="Server=###.###.##.##;database=postcard;Persist Security Info=True;User ID=c####r;password=($*****2)"/>   
    <add key="CardReq" value="Data Source=###.###.##.##,1490;Initial Catalog=DisputeResolve;User ID=e#####sr;Password=(*****);"/>
    <!--<add key="HsmHost" value="###.###.##.##"/>-->
	<add key="HsmHost" value="###.###.##.##"/>
    <add key="ErrorLog" value="F:\AppLogs\CardServicesLog\"/>
    <add key="HsmPort" value="9990"/>
    <add key="HsmHeaderLength" value="8"/>
    <add key="PINLength" value="5"/>
    <add key="MinPINLength" value="04"/>
    <add key="DecimalisationTable" value="012*****45"/>
    <add key="PVKI" value="1"/>
    <add key="mailHost" value="###.###.##.##"/>
    <add key="allowedIssuer" value="1;3;4;5;6;7;8;9"/>
    <add key="VisaIssuer" value="3;7"/>
    <add key="imalOraConn" value="oracle_imal"/>
    <add key="tranwallWS.CardControl" value="http://###.###.##.##:811/CardControl.asmx"/>
    <add key="config" value="Data Source=###.###.##.##,1490;Initial Catalog=DisputeResolve;User ID=di*****sr;Password=(*****);"/>
    <add key="terminalID" value="3*****BP"/>
    <add key="clientID" value="IKIAE37D*****1453364" />
    <add key="secret" value="ZU*****nR8="/>
    <add key="baseUrl" value="https://api-gateway.interswitchng.com" />
	<add key="sTbaseUrl" value="http://###.###.##.##" />
    <add key="tokenendpoint" value="passport/oauth/token" />
    <add key="sTokenendpoint" value="api/v1/safetoken/" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="banksSoap"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://###.###.##.##:814/banks.asmx" binding="basicHttpBinding" bindingConfiguration="banksSoap" contract="eacbsWebService.banksSoap" name="banksSoap"/>
    </client>
  </system.serviceModel>
</configuration>
